  <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="alert alert-success">
            <h4 class="text-center">Order #12345678 has been successfully placed. Order confirmation has been sent to your registered Email ID.</h4>
          </div>
        </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h2 class="text-success">Order Details - Order #12345678</h2>
          </div>
        </div>
      
      <section>
          <div class="row">
            <div class="col-sm-12">
              <div class="new-list-view-responsive new-list-view-responsive-sm">
                <div class="new-list-view-header">
                    <h3 class="col col-5"><svg class="cyclops-icon md" aria-hidden="true"><use xlink:href='#icon-angle-right' /></svg></h3>
                    <h3 class="col col-20">Location</h3>
                    <h3 class="col col-20">Service Contact</h3>
                    <h3 class="col col-45">Service Address</h3>
                </div>
                <ul class="new-list-view">
                  <li>
                    <div class="list-view-item">
                      <div class="col col-5"><span class="col-header"></span>
                        <svg class="cyclops-icon md" aria-hidden="true"><use xlink:href='#icon-angle-right' /></svg>
                      </div>
                      <div class="col col-20"><span class="col-header">Location</span>Location 1</div>
                      <div class="col col-20"><span class="col-header">Service Contact</span>Bill Johnson</div>
                      <div class="col col-45"><span class="col-header">Service Address</span>4728 Burton Avenue, Memphis,Tennessee,38138</div>

                      <section class="col-sm-12">
                        <div class="col-sm-4">
                          <h5 class="text-success">Service Contact</h5>
                          <p>Bill Johnson</p>
                          <p>bil.johnson@abc-america.com</p>
                          <p>+1 (303)332-6255</p>
                        </div>
                        <div class="col-sm-4">
                          <h5 class="text-success">Service Address</h5>
                          <p>Bill Johnson</p>
                          <p>bil.johnson@abc-america.com</p>
                          <p>+1 (303)332-6255</p>
                        </div>
                        <div class="col-sm-4">
                          <h5 class="text-success">Shipping Address</h5>
                          <p>Bill Johnson</p>
                          <p>bil.johnson@abc-america.com</p>
                          <p>+1 (303)332-6255</p>
                        </div>
                      </section>
                    </div>
                  </li>
                  <li>
                    <div class="list-view-item">
                      <div class="col col-5"><span class="col-header"></span>
                        <svg class="cyclops-icon md" aria-hidden="true"><use xlink:href='#icon-angle-right' /></svg>
                      </div>
                      <div class="col col-20"><span class="col-header">Location</span>Location 2</div>
                      <div class="col col-20"><span class="col-header">Service Contact</span>Bill Johnson</div>
                      <div class="col col-45"><span class="col-header">Service Address</span>4728 Burton Avenue, Memphis,Tennessee,38138</div>
                      <section class="col-sm-12">
                        <div class="col-sm-4">
                          <h5 class="text-success">Service Contact</h5>
                          <p>Bill Johnson</p>
                          <p>bil.johnson@abc-america.com</p>
                          <p>+1 (303)332-6255</p>
                        </div>
                        <div class="col-sm-4">
                          <h5 class="text-success">Service Address</h5>
                          <p>Bill Johnson</p>
                          <p>bil.johnson@abc-america.com</p>
                          <p>+1 (303)332-6255</p>
                        </div>
                        <div class="col-sm-4">
                          <h5 class="text-success">Shipping Address</h5>
                          <p>Bill Johnson</p>
                          <p>bil.johnson@abc-america.com</p>
                          <p>+1 (303)332-6255</p>
                        </div>
                      </section>
                    </div>
                  </li>
                  <li>
                    <div class="list-view-item">
                      <div class="col col-5"><span class="col-header"></span>
                        <svg class="cyclops-icon md" aria-hidden="true"><use xlink:href='#icon-angle-right' /></svg>
                      </div>
                      <div class="col col-20"><span class="col-header">Location</span>Location 3</div>
                      <div class="col col-20"><span class="col-header">Service Contact</span>Bill Johnson</div>
                      <div class="col col-45"><span class="col-header">Service Address</span>4728 Burton Avenue, Memphis,Tennessee,38138</div>
                      <section class="col-sm-12">
                        <div class="col-sm-4">
                          <h5 class="text-success">Service Contact</h5>
                          <p>Bill Johnson</p>
                          <p>bil.johnson@abc-america.com</p>
                          <p>+1 (303)332-6255</p>
                        </div>
                        <div class="col-sm-4">
                          <h5 class="text-success">Service Address</h5>
                          <p>Bill Johnson</p>
                          <p>bil.johnson@abc-america.com</p>
                          <p>+1 (303)332-6255</p>
                        </div>
                        <div class="col-sm-4">
                          <h5 class="text-success">Shipping Address</h5>
                          <p>Bill Johnson</p>
                          <p>bil.johnson@abc-america.com</p>
                          <p>+1 (303)332-6255</p>
                        </div>
                      </section>
                    </div>
                  </li>
                  <li>
                    <div class="list-view-item">
                      <div class="col col-5"><span class="col-header"></span>
                        <svg class="cyclops-icon md" aria-hidden="true"><use xlink:href='#icon-angle-right' /></svg>
                      </div>
                      <div class="col col-20"><span class="col-header">Location</span>Location 4</div>
                      <div class="col col-20"><span class="col-header">Service Contact</span>Bill Johnson</div>
                      <div class="col col-45"><span class="col-header">Service Address</span>4728 Burton Avenue, Memphis,Tennessee,38138</div>
                      <section class="col-sm-12">
                        <div class="col-sm-4">
                          <h5 class="text-success">Service Contact</h5>
                          <p>Bill Johnson</p>
                          <p>bil.johnson@abc-america.com</p>
                          <p>+1 (303)332-6255</p>
                        </div>
                        <div class="col-sm-4">
                          <h5 class="text-success">Service Address</h5>
                          <p>Bill Johnson</p>
                          <p>bil.johnson@abc-america.com</p>
                          <p>+1 (303)332-6255</p>
                        </div>
                        <div class="col-sm-4">
                          <h5 class="text-success">Shipping Address</h5>
                          <p>Bill Johnson</p>
                          <p>bil.johnson@abc-america.com</p>
                          <p>+1 (303)332-6255</p>
                        </div>
                      </section>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
      </section>
      </div>