  <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="text-success"><svg class="cyclops-icon md"><use xlink:href="#icon-compliance"></use></svg> Order Summary</h2>
          </div>
        </div>
      
      <section>
        <div class="row">
          <div class="col-sm-12">
              <div class="new-list-view-responsive new-list-view-responsive-sm">
                <div class="new-list-view-header">
                    <h3 class="col col-25">Product</h3>
                    <h3 class="col col-25">Location</h3>
                    <h3 class="col col-25">Unit Price</h3>
                    <h3 class="col col-25">Total</h3>
                </div>
                <ul class="new-list-view">
                  <li>
                    <div class="list-view-item">
                      <div class="col col-75"><span class="col-header">Product</span>SD-WAN BASIC</div>
                      <div class="col col-20"><span class="col-header">Unit Price</span>$ 600 <small>/ mo</small></div>
                    </div>
                    <ul class="new-list-view">
                      <li>
                        <div class="list-view-item">
                          <div class="col col-25"></div>
                          <div class="col col-25"><span class="col-header">Location</span>Location 1</div>
                          <div class="col col-25"><span class="col-header">Unit Price</span>$ 200</div>
                          <div class="col col-25"></div>
                        </div>
                      </li>
                      <li>
                        <div class="list-view-item">
                          <div class="col col-25"></div>
                          <div class="col col-25"><span class="col-header">Location</span>Location 2</div>
                          <div class="col col-25"><span class="col-header">Unit Price</span>$ 200</div>
                          <div class="col col-25"></div>
                        </div>
                      </li>
                      <li>
                        <div class="list-view-item">
                          <div class="col col-25"></div>
                          <div class="col col-25"><span class="col-header">Location</span>Location 3</div>
                          <div class="col col-25"><span class="col-header">Unit Price</span>$ 200</div>
                          <div class="col col-25"></div>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <div class="list-view-item">
                      <div class="col col-75"><span class="col-header">Product</span>SD-WAN PREMIUM</div>
                      <div class="col col-20"><span class="col-header">Unit Price</span>$ 700 <small>/ mo</small></div>
                    </div>
                    <ul class="new-list-view">
                      <li>
                        <div class="list-view-item">
                          <div class="col col-25"></div>
                          <div class="col col-25"><span class="col-header">Location</span>Location 1</div>
                          <div class="col col-25"><span class="col-header">Unit Price</span>$ 350</div>
                          <div class="col col-25"></div>
                        </div>
                      </li>
                      <li>
                        <div class="list-view-item">
                          <div class="col col-25"></div>
                          <div class="col col-25"><span class="col-header">Location</span>Location 2</div>
                          <div class="col col-25"><span class="col-header">Unit Price</span>$ 350</div>
                          <div class="col col-25"></div>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <div class="card-footer billing-summary">
                      <div class="row">
                        <div class="col-sm-10 text-right"><h4 class="currency">Total:</h4></div>
                        <div class="col-sm-2 text-right"><h4 class="currency">$ 1300 <small>/ mo</small></h4></div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
          </div>
        </div>
      </section>
      </div>