<section>
          <div class="row">
            <div class="col-sm-9">
              <form class="form-horizontal">
                <h4 class="text-success">Billing Address</h4>
                <div class="form-group">
                  <label for="horizontalFormPassword" class="col-sm-3 control-label">Company Name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="horizontalFormPassword" placeholder="Company Name">
                  </div>
                </div>

                <!-- Shipping Address Section -->
                <div>
                <div class="form-group">
                  <label for="horizontalFormPassword" class="col-sm-3 control-label sr-only">Select Address</label>
                  <div class="col-sm-9 col-sm-push-3">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="" /> Same as Shipping Address</a>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="horizontalFormPassword" class="col-sm-3 control-label">Address</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="horizontalFormPassword" placeholder="Address">
                  </div>
                </div>
                <div class="form-group">
                  <label for="horizontalFormPassword" class="col-sm-3 control-label">Street</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="horizontalFormPassword" placeholder="Street">
                  </div>
                </div>
                <div class="form-group">
                  <label for="country" class="col-sm-3 control-label">Country</label>
                  <div class="col-sm-4">
                    <select class="form-control" id="inputSelect">
                      <option selected="" value=" - Select -">&nbsp;- Select -</option>
                      <option value="Alabama">Alabama</option>
                      <option value="Alaska">Alaska</option>
                      <option value="Arizona">Arizona</option>
                      <option value="Arkansas">Arkansas</option>
                      <option value="California">California</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="horizontalFormPassword" class="col-sm-3 control-label">State</label>
                    <div class="col-sm-4">
                      <select class="form-control" id="inputSelect">
                        <option selected="" value=" - Select -">&nbsp;- Select -</option>
                        <option value="Alabama">Alabama</option>
                        <option value="Alaska">Alaska</option>
                        <option value="Arizona">Arizona</option>
                        <option value="Arkansas">Arkansas</option>
                        <option value="California">California</option>
                      </select>
                    </div>
                </div>
                <div class="form-group">
                  <label for="horizontalFormPassword" class="col-sm-3 control-label">City</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="horizontalFormPassword" placeholder="City">
                  </div>
                </div>
                <div class="form-group">
                  <label for="horizontalFormPassword" class="col-sm-3 control-label">Zip Code</label>
                  <div class="col-sm-2">
                    <input type="text" class="form-control" id="horizontalFormPassword" placeholder="Zip Code">
                  </div>
                </div>
                <hr>
                </div>
                <h4 class="text-success">Billing Details</h4>
                <div class="form-group">
                  <label for="EIN" class="col-sm-3 control-label">EIN</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="EIN" placeholder="EIN">
                  </div>
                </div>
                <hr>
                <div class="form-group">
                  <div class="col-sm-12 text-center">
                    <button type="submit" class="btn btn-primary btn-lg">Proceed</button>
                  </div>
                </div>
              </form>
            </div>
            <order-summary-short></order-summary-short>
          </div>
      </section>